doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= album.Nome + ' - Edit'
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css") 
    link(rel='stylesheet' href='/stylesheets/style.css')

    style.
      /* Styles for the cover image zoom */
      .cover-image-container {
        position: relative;
        display: inline-block;
        cursor: pointer;
      }

      .cover-image {
        transition: transform 0.3s ease;
      }

      .cover-image.zoomed {
        transform: scale(2);
        z-index: 1000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

    script.
      function enableEditMode() {
        document.querySelectorAll('.editable').forEach(function(element) {
          element.removeAttribute('readonly');
          element.style.border = '1px solid #ccc';  
        });
        document.getElementById('edit-button').style.display = 'none';
        document.getElementById('confirm-button').style.display = 'inline-block';
        document.getElementById('coverInputContainer').style.display = 'block';  
        document.querySelectorAll('.select-editable').forEach(function(element) {
          element.disabled = false;
        });
      }
  body
    a(href='/view') 
      i.fas.fa-arrow-left.fa-2x
    br
    br
    br

    .album-container(style="display: flex; align-items: flex-start;")
      .album-cover
        img(id="albumCoverImage" src=album.Cover alt="Copertina album" width=300)

      .album-details(style="margin-left: 20px;")
        form(action='/edit?id=' + album.ID method='post')

          p
            | Nome Album:
            input(type='text' name='name' class='editable' value=album.Nome readonly=true required)

          p
            | Artista:
            input(type='text' name='artist' class='editable' value=album.Artista readonly=true required)

          p
            | Data di ascolto:
            input(type='text' name='date' class='editable' value=album.Data readonly=true required)

          p
            | Voto:
            input(type='number' name='rating' min='0' max='10' step="0.25" class='editable' value=album.Voto readonly=true required)

          .form-group
            label(for='genre') Genre:
            select(name='genre' required class='select-editable' disabled)
              option(value='Hip Hop/Rap' selected=album.Genere === 'Hip Hop/Rap') Hip Hop/Rap
              option(value='Pop/R&B/Cantautorato' selected=album.Genere === 'Pop/R&B/Cantautorato') Pop/R&B/Cantautorato
              option(value='Electronic' selected=album.Genere === 'Electronic') Electronic
              option(value='Rock' selected=album.Genere === 'Rock') Rock
              option(value='Altro' selected=album.Genere === 'Altro') Altro

          .form-group
            label(for='possession') Possesso:
            select(name='possession' required class='select-editable' disabled)
              option(value='CD' selected=album.Possesso ==='CD') CD 
              option(value='Vinile' selected=album.Possesso ==='Vinile') Vinile 
              option(value='Non Posseduto' selected=album.Possesso === 'Non Posseduto') Non Posseduto

          p#coverInputContainer(style="display: none;")  
            | URL Copertina:
            input(type='text' id='coverInput' name='cover' class='editable' value=album.Cover readonly=true required)

          br
          br
          button(id='edit-button' type='button' style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; cursor: pointer;" onclick="enableEditMode()")
            i(class="fas fa-edit") 
            |  Modifica Album

          button(id='confirm-button' type='submit' style="display: none; padding: 10px 20px; background-color: #008CBA; color: white; border: none; cursor: pointer;")
            i(class="fas fa-check")  
            |  Conferma Modifiche

  script.
    // Change image on cover URL change
    document.getElementById('coverInput').addEventListener('input', function() {
      document.getElementById('albumCoverImage').src = this.value;
    });

    // Toggle zoom on cover image
    function toggleZoom(image) {
      image.classList.toggle('zoomed');
    }
