doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= album.Nome + ' - Edit'
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css") 
    script.
      function enableEditMode() {
        document.querySelectorAll('.editable').forEach(function(element) {
          element.removeAttribute('readonly');
          element.style.border = '1px solid #ccc';  
        });
        document.getElementById('edit-button').style.display = 'none';
        document.getElementById('confirm-button').style.display = 'inline-block';
        document.getElementById('coverInputContainer').style.display = 'block';  
      }
  body
  a(href='/view') 
    //back icon fontawesome
    i.fas.fa-arrow-left.fa-2x
    br
    br
    br


    .album-container(style="display: flex; align-items: flex-start;")
      .album-cover
        img(id="albumCoverImage" src=album.Cover alt="Copertina album" width=300)

        // Cover URL (in edit mode)


      .album-details(style="margin-left: 20px;")
        form(action='/edit?id=' + album.ID method='post')

          p
            | Nome Album:
            input(type='text' name='name' class='editable' value=album.Nome readonly=true)

          p
            | Artista:
            input(type='text' name='artist' class='editable' value=album.Artista readonly=true)

          p
            | Data di ascolto:
            input(type='text' name='date' class='editable' value=album.Data readonly=true)

          p
            | Voto:
            input(type='number' name='rating' class='editable' value=album.Voto readonly=true)

          p
            | Possesso:
            input(type='text' name='possession' class='editable' value=album.Possesso readonly=true)

          p
            | Genere:
            input(type='text' name='genre' class='editable' value=album.Genere readonly=true)

          p#coverInputContainer(style="display: none;")  
          | URL Copertina:
          input(type='text' id='coverInput' name='cover' class='editable' value=album.Cover readonly=true)

          br
          br
          button(id='edit-button' type='button' style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; cursor: pointer;" onclick="enableEditMode()")
            i(class="fas fa-edit") 
            |  Modifica Album

          button(id='confirm-button' type='submit' style="display: none; padding: 10px 20px; background-color: #008CBA; color: white; border: none; cursor: pointer;")
            i(class="fas fa-check")  
            |  Conferma Modifiche

    script.
      // Change image on cover URL change
      document.getElementById('coverInput').addEventListener('input', function() {
        document.getElementById('albumCoverImage').src = this.value;
      });
